# 🌍 Server
PORT=5000
# For local development: mongodb://127.0.0.1:27017/informationSystem
# For Docker: mongodb://mongodb:27017/informationSystem (set in docker-compose.yml)
MONGO_URI=mongodb://127.0.0.1:27017/informationSystem

# 🔐 JWT secrets
JWT_SECRET=yourAccessTokenSecret
JWT_REFRESH_SECRET=yourRefreshTokenSecret

# ⏱ Token expiry durations
ACCESS_TOKEN_EXPIRY=1m
REFRESH_TOKEN_EXPIRY=7d

# 🎟 Invite codes for roles
STUDENT_INVITE_CODE=STUDENT123
TEACHER_INVITE_CODE=TEACHER123
SUPERADMIN_INVITE_CODE=SUPERADMIN123

#Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=youremail@gmail.com
EMAIL_PASS=your-email-password
EMAIL_FROM="Your App Name <youremail@gmail.com>"
