.register-card {
  width: 100%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.98);
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: var(--font-body);
}

.register-title {
  font-family: var(--font-title);
  font-size: 28px;
  font-weight: 600;
  color: #1F2937;
  margin-bottom: 8px;
}

.register-subtitle {
  font-family: var(--font-subheading);
  font-size: 14px;
  color: #6B7280;
  margin-bottom: 24px;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.register-form label {
  font-family: var(--font-subheading);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #374151;
}

.register-form input {
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #81020B;
  font-size: 16px;
  color: #111827;
  outline: none;
  transition: border 0.2s ease;
}

.register-form input:focus {
  border-color: #c9c9c9;
}

.btn-primary {
  width: 100%;
  padding: 12px;
  background-color: #81020B;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 8px;
  transition: background-color 0.3s ease;
}

.error-text { 
  color: #DC2626;
  margin-bottom: 15px;
  font-size: 14px;
}

.btn-primary:hover {
  background-color: #880000;
}

.footer-text {
  margin-top: 16px;
  font-size: 14px;
  text-align: center;
  color: #6B7280;
  font-family: var(--font-subheading);
}

.footer-text span {
  color: #81020B;
  cursor: pointer;
  font-weight: 600;
}
